.grid {
	--spacing: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--spacing);
	padding: 16px;
	background: linear-gradient(hwb(0 92% 8%), hsl(0, 0%, 98%));
	border-radius: 8px;
	width: 1fr;
	margin: 0 auto;
	filter: drop-shadow(2px 5px 2px hsla(0, 0%, 100%, 0.7))
		drop-shadow(2px 6px 1px hsla(0, 0%, 90%, 0.1))
		drop-shadow(3px 7px 0px hsla(0, 0%, 0%, 1));
}

/* .row {
	display: flex;
	gap: var(--spacing);
} */

.cell {
	flex: 1;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	height: 100px;
}

.cell:hover {
	cursor: pointer;
}
